<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>QA-Report</title>
    <link rel="stylesheet" href="https://dl.dropbox.com/s/0uoabxglbuwkqwd/font-awesome.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://dl.dropboxusercontent.com/s/qf2a1wxu8h667jb/bootstrap.min.css" />
    <link href="https://dl.dropbox.com/s/gyfwh9stqxfdn37/style.css" rel="stylesheet" type="text/css" />
    <link href="https://dl.dropbox.com/s/7y98unbvjkcq9t1/pace.min.css" rel="stylesheet" type="text/css" />
    <script src="https://dl.dropbox.com/s/mvfdx4lk8am2jl1/chart.js"></script>
    <script src="https://dl.dropbox.com/s/3u8vo62nprt4tka/init.js"></script>
    <script src="https://dl.dropbox.com/s/mwn37fawvjdp50y/navigation.js"></script>
    <script src="https://dl.dropbox.com/s/lpp1ieljgjn08cy/pace.min.js"></script>
</head>

<body>
    <div class="container">
        <%= scenarios %>
            <div class="scenario-chart">
                <div class="close_chart fa fa-times"></div>
                <h1 class="chart-title">Scenario statistics</h1>
                <canvas id="chart" class="chart" width="400" height="400">Your browser doesn't support HTML5 Canvas.</canvas>
                <div class="legend-details">
                    <h2 class="chart-legend" id="legend">Legend: </h2>
                    <div class="legend_passed">passed</div>
                    <div class="legend_failed">failed</div>
                </div>
            </div>
    </div>
    <div class="document_container"></div>
</body>

</html>
